* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header, footer{
    background-color: cyan;
}

.err {
    color: red;
}

.member-auth-buttons {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    gap: 10px;
}

.poster {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden; 
}

.poster img {
    width: 100%;
    max-width: 1500px;
    height: auto;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1.5s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #007bff;
    padding: 10px 0;
    border-radius: 5px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 15px;
    transition: background 0.3s;
}

.nav-links a:hover {
    background-color: #0056b3;
    border-radius: 5px;
}

.search-bar {
    display: flex;
    margin-left: auto;
}

.search-bar input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.search-bar button:hover {
    background-color: #0056b3;
}
