* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header, footer{
    background-color: cyan;
}

.err {
    color: red;
}

/* cart and login button >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>. */
.member-auth-buttons {
    position: absolute;
    top: 50px;
    right: 20px;
    display: flex;
    gap: 10px;
    font-size: 30px;
}

/* homepage poster >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.poster {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden; 
}

.poster img {
    width: 100%;
    max-width: 1500px;
    height: auto;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1.5s ease-out forwards;
}

/* poster animation >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>. */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* navigation bar >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.nav-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #007bff;
    padding: 10px 0;
    border-radius: 5px;
}

.nav-links a {
    display: flex;
    justify-content: center;
    align-items: center;   
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    padding: 20px 10px;
    transition: background 0.3s;
    margin-top: -5px;
    background-color: #007bff;
}

.nav-links a:hover {
    background-color: #0056b3;
    border-radius: 5px;
}

/* search bar >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>. */
.search-bar {
    display: flex;
    margin-left: auto;
}

.search-bar input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.search-bar button:hover {
    background-color: #0056b3;
}

/* cart page button >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.cartEmpty-buttons{
    display: flex;
    gap: 150px;
}

.cartEmpty-buttons a{
    display: inline-block;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 25px;
}

.cartEmpty-buttons a:hover {
    background-color: darkblue;
}

/* empty cart content >>>>>>>>>>>>>>>>>>>>>>>>>> */
.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    min-height: 70vh; 
    text-align: center;
    font-size: 30px;
    gap: 30px;
}